.Prose.Prose--axe {
  max-width: none; }
  .Prose.Prose--axe ul.Axe--results--list {
    padding: 0; }
  .Prose.Prose--axe ul.Axe--v-nodes-list {
    padding: 20px 20px; }
  .Prose.Prose--axe h2.Axe--violation-group--title {
    margin-top: 40px;
    margin-bottom: 30px;
    text-decoration: underline;
    color: #444; }
  .Prose.Prose--axe h3.Axe--v-title {
    margin-bottom: 0; }
  .Prose.Prose--axe p.Axe--violation-group--desc:last-of-type {
    margin-bottom: 30px; }
  .Prose.Prose--axe p.Axe--violation-group--desc + p.Axe--violation-group--desc {
    margin-top: 4px; }

.Axe {
  margin-bottom: 24px; }

.Axe--header {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(83, 83, 99, 0.25); }
  .Axe--header p {
    font-size: 12px;
    margin-top: 12px; }
    .Axe--header p + p {
      margin-top: 8px; }

ul.Axe--results--list li.Axe--violation--item,
ul.Axe--results--list li.Axe--v-node-item,
ul.Axe--v-nodes-list li.Axe--violation--item,
ul.Axe--v-nodes-list li.Axe--v-node-item {
  list-style-type: none; }

li.Axe--violation--item {
  border: 1px solid rgba(83, 83, 99, 0.25);
  padding: 0;
  background-color: #FFFFFF;
  margin-bottom: 24px; }
  li.Axe--violation--item--critical .Axe--v-title {
    background-color: #F14F53;
    color: #000; }
  li.Axe--violation--item--critical .Axe--v-title--impact {
    color: #fff;
    background-color: #000; }
  li.Axe--violation--item--serious .Axe--v-title {
    background-color: #F77764;
    color: #000; }
  li.Axe--violation--item--serious .Axe--v-title--impact {
    background-color: #fff; }
  li.Axe--violation--item--moderate .Axe--v-title {
    background-color: #FFDA74;
    color: #000; }
  li.Axe--violation--item--moderate .Axe--v-title--impact {
    background-color: #fff; }
  li.Axe--violation--item--minor .Axe--v-title {
    background-color: #CCD8DB;
    color: #000; }
  li.Axe--violation--item--minor .Axe--v-title--impact {
    background-color: #fff; }

.Axe--v-title,
.Axe--v-nodes-title {
  font-weight: bold;
  padding: 10px 20px; }

.Axe--v-nodes-title {
  padding-bottom: 0; }

.Axe--v-title--impact {
  display: inline-block;
  text-transform: capitalize;
  padding: 4px 8px;
  border-radius: 3px;
  margin-right: 5px;
  border: 0;
  border: 1px solid #1C1C2C; }

.Axe--v-nodes-title {
  font-size: 1rem;
  line-height: 1.5; }

.Axe--v-additional {
  padding: 10px 20px;
  border-bottom: 1px solid rgba(83, 83, 99, 0.25); }

.Axe--v-help-title {
  font-weight: bold; }

.Axe--v-help {
  margin-top: 8px; }

.Axe--v-helper-title {
  font-weight: bold; }

.Axe--v-helper--idRef {
  margin-top: 8px;
  font-size: 12px; }
  .Axe--v-helper--idRef code {
    white-space: pre-wrap;
    font-size: 12px; }

.Axe--v-notice {
  padding: 15px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(83, 83, 99, 0.25); }
  .Axe--v-notice:last-child {
    border-bottom: 0; }

.Axe--v-notice--title {
  font-size: .75rem;
  line-height: 1.6666666667;
  letter-spacing: .075em;
  text-transform: uppercase;
  display: block;
  padding-right: .5rem;
  padding-bottom: .25rem;
  color: rgba(83, 83, 99, 0.75);
  font-weight: bold;
  max-width: 110px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 110px;
      -ms-flex: 0 0 110px;
          flex: 0 0 110px; }

.Axe--v-notice--result {
  padding-left: 20px; }
  .Axe--v-notice--result pre {
    margin: 0;
    padding: 5px 10px;
    background-color: #eeeeee;
    font-weight: bold;
    white-space: pre-wrap; }

.Axe--v-notice--result--failure p:first-child {
  text-decoration: underline;
  margin-bottom: 4px; }

.Axe--violation-group {
  display: none;
  margin-bottom: 50px; }
  .Axe--violation-group.show-group {
    display: block; }

.Axe--violation-group--last {
  padding-bottom: 100px; }

.Axe--v-node-item {
  margin: 0;
  border: 1px solid rgba(83, 83, 99, 0.25); }
  .Axe--v-node-item + .Axe--v-node-item {
    margin-top: 20px; }

.Axe--violation-group--toggle {
  color: #444;
  border: 1px solid #444;
  font-weight: bold;
  font-size: inherit;
  display: inline-block;
  position: relative;
  padding: 10px 20px 10px 26px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-bottom: 20px; }
  .Axe--violation-group--toggle .Axe--violation-group--toggle-icon, .Axe--violation-group--toggle svg {
    display: block; }
  .Axe--violation-group--toggle .Axe--violation-group--toggle-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    margin-top: -4px; }
  .Axe--violation-group--toggle:hover, .Axe--violation-group--toggle:focus, .Axe--violation-group--toggle.is-active {
    background-color: #444;
    color: #fff; }
  .Axe--violation-group--toggle.is-active .Axe--violation-group--toggle-icon {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }

.Axe--violation-group--toggleable {
  display: none; }
  .Axe--violation-group--toggleable.is-active {
    display: block; }

.Axe--violation-group-title-count {
  pointer-events: none; }
