$lr-pad: 20px;
$tb-pad: 10px;
$item-pad: $tb-pad $lr-pad;

$border-val: 1px solid rgba(83,83,99,.25);
$border-a11y-val: 1px solid #1C1C2C;

.Prose.Prose--axe {
  max-width: none;

  ul.Axe--results--list {
    padding: 0;
  }

  ul.Axe--v-nodes-list {
    padding: $lr-pad $lr-pad;
  }

  h2.Axe--violation-group--title {
    margin-top: $lr-pad + $lr-pad;
    margin-bottom: $lr-pad + $tb-pad;
    text-decoration: underline;
    color: #444;
  }

  h3.Axe--v-title {
    margin-bottom: 0;
  }

  p.Axe--violation-group--desc {
    // margin-top: -$tb-pad;

    &:last-of-type {
      margin-bottom: $lr-pad + $tb-pad;
    }
  }

  p.Axe--violation-group--desc + p.Axe--violation-group--desc {
    margin-top: 4px;
  }
}

.Axe {
  margin-bottom: 24px;
}

.Axe--header {
  padding-bottom: $lr-pad;
  border-bottom: $border-val;

  p {
    font-size: 12px;
    margin-top: 12px;

    & + p {
      margin-top: 8px;
    }
  }
}

ul.Axe--results--list,
ul.Axe--v-nodes-list {

  li.Axe--violation--item,
  li.Axe--v-node-item {
    list-style-type: none;
  }
}

li.Axe--violation--item {
  border: $border-val;
  padding: 0;
  background-color: #FFFFFF;
  margin-bottom: 24px;

  &--critical {
    .Axe--v-title {
      background-color: #F14F53;
      color: #000;
    }

    .Axe--v-title--impact {
      color: #fff;
      background-color: #000;
    }
  }

  &--serious {
    .Axe--v-title {
      background-color: #F77764;
      color: #000;
    }

    .Axe--v-title--impact {
      background-color: #fff;
    }
  }

  &--moderate {
    .Axe--v-title {
      background-color: #FFDA74;
      color: #000;
    }

    .Axe--v-title--impact {
      background-color: #fff;
    }
  }

  &--minor {
    .Axe--v-title {
      background-color: #CCD8DB;
      color: #000;
    }

    .Axe--v-title--impact {
      background-color: #fff;
    }
  }
}

.Axe--v-title,
.Axe--v-nodes-title {
  font-weight: bold;
  padding: $item-pad;
}

.Axe--v-nodes-title {
  padding-bottom: 0;
}

.Axe--v-title--impact {
  display: inline-block;
  text-transform: capitalize;
  padding: 4px 8px;
  border-radius: 3px;
  margin-right: 5px;
  border: 0;
  border: $border-a11y-val;
}

.Axe--v-nodes-title {
  font-size: 1rem;
  line-height: 1.5;
}

.Axe--v-additional {
  padding: $item-pad;
  border-bottom: $border-val
}

.Axe--v-help-title {
  font-weight: bold;
}

.Axe--v-help {
  margin-top: 8px;
}

.Axe--v-helper-title {
  font-weight: bold;
}

.Axe--v-helper--idRef {
  margin-top: 8px;
  font-size: 12px;

  code {
    white-space: pre-wrap;
    font-size: 12px;
  }
}


.Axe--v-notice {
  padding: 15px $lr-pad;
  display: flex;
  border-bottom: $border-val;

  &:last-child {
    border-bottom: 0;
  }
}

.Axe--v-notice--title {
  font-size: .75rem;
  line-height: 1.6666666667;
  letter-spacing: .075em;
  text-transform: uppercase;
  display: block;
  padding-right: .5rem;
  padding-bottom: .25rem;
  color: rgba(83,83,99,.75);
  font-weight: bold;
  max-width: 110px;
  flex: 0 0 110px;
}

.Axe--v-notice--result {
  padding-left: 20px;

  pre {
    margin: 0;
    padding: 5px 10px;
    background-color: #eeeeee;
    font-weight: bold;
    white-space: pre-wrap;
  }
}

.Axe--v-notice--result--failure {
  p:first-child {
    text-decoration: underline;
    margin-bottom: 4px;
  }
}


.Axe--violation-group {
  display: none;
  margin-bottom: 50px;

  &.show-group {
    display: block;
  }
}

.Axe--violation-group--last {
  padding-bottom: 100px;
}

.Axe--v-node-item {
  margin: 0;
  border: $border-val;

  & + & {
    margin-top: 20px;
  }
}

.Axe--violation-group--toggle {
  // text-decoration: underline;
  color: #444;
  border: 1px solid #444;
  font-weight: bold;
  font-size: inherit;
  display: inline-block;
  position: relative;
  padding: 10px 20px 10px 26px;
  transition: all 0.2s ease-in-out;
  margin-bottom: $lr-pad;

  .Axe--violation-group--toggle-icon, svg {
    display: block;
  }

  .Axe--violation-group--toggle-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    margin-top: -4px;
  }

  &:hover,
  &:focus,
  &.is-active {
    background-color: #444;
    color: #fff;
  }

  &.is-active {
    .Axe--violation-group--toggle-icon {
      transform: rotate(90deg);
    }
  }
}


.Axe--violation-group--toggleable {
  display: none;

  &.is-active {
    display: block;
  }
}

.Axe--violation-group-title-count {
  pointer-events: none;
}
